h1 {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    min-height: 100%;
}

.img_link {
    margin-bottom: 10%;
    width: 50%;
    padding: 10%;
    border-radius: 30px;
    box-shadow: 0 0 20px #7921b8;
    background-image: linear-gradient(0deg,#00b7c4, #5B42F3 50%,#751db4);
    transition: all .4s ease;
}

.img_link:hover {
    transform: scale(1.2);
    box-shadow: 0 0 40px #7921b8;
}

.img_link:active {
    transform: scale(1.1);
    box-shadow: 0 0 20px #02afbb;
}

.div_contact1 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    animation: apparition1 1.5s forwards;
}

.div_contact2 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    animation: apparition2 1.5s forwards;
}

.contact {
    font-size: 125%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact a img {
    display: flex;
    justify-content: center;
    align-self: center;
}

@keyframes apparition1 {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes apparition2 {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0%);
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2%;
    background-color: #340058;
    font-size: 120%;
    padding: 1%;
    width: 100%;
    position: absolute;
    bottom: 0;
}