h2, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3, hr {
    animation-delay: 2s;
    animation: apparition 1.5s forwards;
}

h2 {
    font-size: clamp(20px, 3vw, 28px);
}

h3 {
    font-size: clamp(17px, 3vw, 22px);
}

.paragraphe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    animation-delay: 2s;
    animation: apparition 1.5s forwards;
}

.paragraphe img {
    width: 20%;
    box-shadow: 0 0 50px #9a2aeb;
    border-radius: 20px;
    animation: apparition_img 1.5s forwards;
}

.paragraphe div {
    margin-left: 5%;
    margin-right: 5%;
    font-size: clamp(17px, 3vw, 22px);
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(150%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media (max-width: 1050px) {
    .paragraphe {
        flex-direction: column;
        align-items: center;
    }

    .paragraphe img {
        width: 45%
    }
}