h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%
}

.paragraphe {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 5%;
}

.paragraphe-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    margin: 5%;
}

.paragraphe img, .paragraphe-reverse img {
    max-width: 20%;
    box-shadow: 0 0 50px #02c3d1;
    border-radius: 20px;
    animation: apparition_img 1s ease-out forwards;
}

.paragraphe p, .paragraphe-reverse p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: clamp(10px, 4em, 25px);
    animation: apparition_txt 1s ease-out forwards;
}

@keyframes apparition_txt {
    from {
        opacity: 0;
        transform: scale(.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes apparition_img {
    from {
        opacity: 0;
        transform: scale(.25);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 1050px) {
    .paragraphe, .paragraphe-reverse {
        flex-direction: column;
        align-items: center;
    }

    .paragraphe img, .paragraphe-reverse img {
        max-width: 60%;
    }
}