.body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    min-height: 100%;
}

/** Header */

.layout {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: auto;
    padding-left: 1%;
    background-color: rgb(66, 33, 126);
}

.navigation {
    display: flex;
    align-items: stretch;
    margin: 0;
    width: 39%;
}

.button-navigation {
    width: 100%;
    background: none;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    color: white;  
    transition: all .3s ease-in;
}

.button-navigation:hover {
    cursor: pointer;
    color: rgb(66, 33, 126);
    background-color: lightskyblue;
}

.button-navigation-selected {
    width: 100%;
    background: none;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    background-color: white;
    color: rgb(66, 33, 126);
    transition: all .3s ease-in;
    /* TODO*/
}

.contenu {
    margin: 1%;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(34, 14, 71);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_link {
    align-self: center;
    color: white;
    text-decoration: none;
}

.footer_link:hover {
    color: burlywood;
    text-decoration: none;
}


.footer_link img {
    width: 35px;
    height: auto;
    filter: invert(75%)
}