.body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

/** Header */

.layout {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    top: 1px;
    padding: 1%;
}

#navigation {
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: stretch;
    margin: 0;
    width: 50%;
    padding: .5%;
    border: 2px solid rgb(82, 82, 82);
    border-radius: 30px;
}

#alt_nav {
    cursor: pointer;
    display: none;
}

.button-navigation, .button-navigation-selected {
    width: 100%;
    margin-left: .5%;
    margin-right: .5%;
    background: none;
    border: none;
    border-radius: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(17px, 3vw, 22px);
    transition: all .3s ease-in;
}

.button-navigation {
    color: white;
}

.button-navigation:hover {
    cursor: pointer;
    color: rgb(66, 33, 126);
    background-color: lightskyblue;
}

.button-navigation-selected {
    background-color: white;
    color: rgb(66, 33, 126);
    transition: all .3s ease-in;
}

.contenu {
    max-width: 95%;
    transition: opacity .5s ease, filter .5s ease;
}

@media (max-width: 1050px) {
    #alt_nav {
        display: block;
        font-size: clamp(20px, 10vw, 50px);
        margin-right: 3%; 
        z-index: 1;
    }
    #alt_nav::before {
        content: "\2630";
    }

    .active #alt_nav::before {
        content: "\2715";
    }

    #navigation {
        position: fixed;
        right: -100%;
        top: 10vh;
        bottom: 0;
        flex-direction: column;
        background-color: rgb(56, 0, 56);
        text-align: center;
        z-index: 1;
        border: none;
        border-radius: 0;
        transition: .5s ease;
    }
    #navigation button {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }
    #navigation.active {
        right: 0;
    }

    .layout{
        justify-content: space-between;
        background-color: rgb(56, 0, 56);
    }
}