<section class="main">
    <div class="accueil">
        <h1 class="title">Bonjour !</h1>
        <h1 class="title">Je suis Haron Kochbati !</h1>
        <p class="text">
            Et je vous souhaite la bienvenue sur mon portfolio !
            Vous souhaitez savoir qui je suis ? Quels sont mes compétences ? Mes projets ?
            Vous trouverez tout ici, alors bonne visite !
        </p>
        <div class="div_button">
            <button class="contact-me" onclick="changerContenu(nav[4])">Me contacter</button>
        </div>
    </div>
    <div class="image">
        <img src="img/profil.gif">
    </div>
</section>