<h2>Cliquez sur une des images ci-dessous pour la redirection souhaitée :</h2>
<section class="main">
    <div class="div_contact1">
        <article class="contact">
            <a href="https://www.linkedin.com/in/haron-kochbati-94105523b/"  target="_blank">
                <img src="img/contacts/linkedin.png" class="img_link">
            </a>
            <h2>LinkedIn</h2>
            <p>Je vous invite à explorer mes différentes expériences professionnelles et universitaires, ainsi que mes compétences en programmation. <br>
                N'hésitez pas à me contacter pour discuter de collaborations professionnelles, opportunités d'emploi ou simplement pour échanger sur des sujets pertinents dans notre domaine.</p>
        </article>

        <article class="contact">
            <a href="https://github.com/HaronMan" target="_blank">
                <img src="img/contacts/github.png" class="img_link">
            </a>
            <h2>GitHub</h2>
            <p>Sur mon profil GitHub, vous trouverez tous mes projets personnels et universitaires, accompagnés de leur code source. <br>
                Plongez dans mes réalisations pour découvrir mes compétences en action et explorer les solutions que j'ai développées pour différents défis. <br> 
                Je suis toujours ouvert aux collaborations et aux retours d'expérience.
            </p>
        </article>
    </div>
    <div class="div_contact2">
        <article class="contact">
            <a href="mailto:h.kochbati59@gmail.com" target="_blank">
                <img src="img/contacts/mail.png" class="img_link">
            </a>
            <h2>Courriel</h2>
            <p>Si vous souhaitez m'envoyer un mail, je vous redirige vers mon adresse courriel <br>
                N'hésitez pas à m'envoyer un message pour discuter de collaborations professionnelles, opportunités d'emploi ou toute autre question que vous pourriez avoir. 
                Je suis toujours ouvert aux échanges et aux nouvelles opportunités.
            </p>
        </article> 

        <article class="contact">
            <a href="tel:+33641470117"  target="_blank">
                <img src="img/contacts/phone.png" class="img_link">
            </a>
            <h2>Téléphone</h2>
            <p>Si vous souhaitez me contacter via un appel, je vous prie de bien vouloir utiliser mon numéro personnel enregistré <br>
                Je suis disponible pour discuter de collaborations professionnelles, opportunités d'emploi ou pour répondre à toute autre question que vous pourriez avoir. 
                Votre appel est le bienvenu et j'ai hâte de discuter avec vous.
            </p>
        </article>
    </div>
</section>