<section>
    <nav>
        <a href="https://www.linkedin.com/in/haron-kochbati-94105523b/" class="footer_link">
            <img src="img/linkedin.png"> LinkedIn
        </a>
        <a href="https://github.com/HaronMan" class="footer_link">
            <img src="img/github.png"> GitHub
        </a>
        <a href="mailto:h.kochbati59@gmail.com" class="footer_link">
            <img src="img/mail.png"> Courriel
        </a>
        <a href="tel:+33641470117" class="footer_link">
            <img src="img/phone.png"> Téléphone
        </a>
    </nav>
</section>