<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Haron KOCHBATI</title>
    <link id="current_stylesheet" rel="stylesheet" href="">
    <link rel="stylesheet" href="../assets/layout.css">
    <link rel="stylesheet" href="../assets/background.css">
</head>
<body class="body">
    <header>
        <div class="layout">
            <h1>Haron KOCHBATI</h1>
            <nav class="navigation">
                <button class="button-navigation" id="accueil">Accueil</button>
                <button class="button-navigation" id="qsj">Qui suis-je ?</button>
                <button class="button-navigation" id="competences">Compétences</button>
                <button class="button-navigation" id="projets">Projets</button>
                <button class="button-navigation" id="contacter">Me contacter</button>
            </nav>
        </div>
    </header>

    <main id="contenu"></main>
    
    <footer>
        <p>Portfolio de <strong>Haron KOCHBATI</strong></p>
        <p>
            <a href="https://www.linkedin.com/in/haron-kochbati-94105523b/" class="footer_link">
                <img src="../img/linkedin.png"> LinkedIn
            </a>
            <a href="https://github.com/HaronMan" class="footer_link">
                <img src="../img/github.png"> GitHub
            </a>
        </p>
    </footer>

    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <script src="../scripts/index.js"></script>
</body>
</html>