<section class="main">
    <h1>
        Présentation d'une liste non exhaustive de mes projets
    </h1>
    <div>
        <h2><u>Universitaire</u></h2>
        <article class="paragraphe">
            <img src="img/projets/robot-mineur.png">
            <div>
                <h3>Robot Mineur</h3>
                <span>Vous avez ce que je considère comme mon <strong>premier vrai projet universitaire</strong>, c'est un simple jeu avec une interface graphique en JavaFX.</span>
                <br>
                <span>Ici, chacun des robots doivent se déplacer tour par tour dans leurs mines et entrepôts dédiés, distinctibles par le matériau stockée : Or ou Nickel</span>
                <br>
                <span>Divers obstacles seront présents afin de ralentir la progression du joueur. La partie se termine quand toutes les mines sont vidées et leur contenu stockés en entrepôt</span>
                <br>
                <span>Un projet qui m'a néanmoins permis de maîtriser la <strong>programmation orienté objet</strong> et plus précisément le <strong>Java</strong></span>
            </div>
        </article>
        <article class="paragraphe">
            <img src="img/projets/marly_moove.jpg">
            <div>
                <h3>Marly Moove</h3>
                <span>Ce projet nous a suivi plus ou moins toute une année, nous devions réaliser un site depuis zéro pour une association sportive dont le nom figure ci-dessus. La réalisation s'est effectué via la <strong>méthode agile</strong> et s'est distinguée en <strong>deux parties</strong> :</span>
                <br>
                <span>Premièrement, il fallait implémenter <strong>les fonctionnalités, le serveur et la base de données</strong> ; donc prendre en charge l'inscription des utilisateurs, les différents rôles ainsi que leurs droits et accès sur le site, une gestion de la boutique, les évènements relatifs à l'association et, last but not least, les activités sportives et leurs planning.</span>
                <br>
                <span>Dans un deuxième temps, rendre le site <strong>responsive et le plus ergonomique possible</strong>, que ce soit par la coorection de la mise en page ou par l'implémentation du AJAX pour un affichage fluide et dynamique. De plus, le site devait incorporé une <strong>architecture MVC</strong>.</span>
                <br>
                <span>C'est un projet qui m'a appris <strong>les fondements de la programmation web</strong>, que ce soit coté front-end (HTML/CSS et JavaScript) ou back-end (Php et PostgreSQL), mais également <strong>l'utilisation de la méthode agile</strong>, une méthode de travail assez répandu dans le milieu professionnel.</span>
            </div>
        </article>
    </div>
    <hr>
    <div>
        <h2><u>Personnel</u></h2>
        <article class="paragraphe">
            <img src="img/projets/demineur.png">
            <div>
                <h3>Démineur</h3>
                <span>C'est un démineur, tout ce qu'il y a de plus classique, avec une interface graphique également en JavaFX.</span>
                <br>
                <span>Néanmoins, il implémente un <strong>système de sauvegarde de partie</strong> et une possibilité de <strong>mettre le jeu en pause</strong>. Du coté du code, j'ai incorporé des <strong>design patterns</strong>, tels qu'un singleton ou encore un builder, mais aussi une <strong>architecture MVC</strong>.</span>
                <br>
                <span>Ce démineur possède un design (un petit peu) différente que le démineur classique que vous pouvez voir sur la photo à gauche. Sachant que je me suis imposé une contrainte qui est de ne pas utiliser de FXML. En d'autre termes, <strong>j'ai créé tout l'affichage à la main, à l'aide de JavaFX</strong>... oui, j'ai un attrait pour la difficulté !</span>
                <br>
            </div>
        </article>
        <article class="paragraphe">
            <img src="img/projets/portfolio.jpg">
            <div>
                <h3>Ce portfolio</h3>
                <span>Eh oui... Mon premier projet personnel en web c'est ce que vous lisez actuellement ! Etonnant hein ?</span>
                <br>
                <span>J'ai réalisé ce portfolio seul avec uniquement du <strong>HTML/CSS</strong> et du <strong>JavaScript</strong>. Pas de framework, pas de CMS, <strong>tout à été codé et écrit par moi meme</strong> !</span>
                <br>
                <span>Même si cependant on peut y trouver une once de ChatGPT un peu partout... mais je l'ai utilisé quand j'étais vriament coincé, promis ! Et puis après tout... <i>un informaticien ne doit-il pas savoir utiliser les outils numériques de son temps ?</i></span>
                <br>
                <span>Je trouve que faire ce portfolio a été un projet intéressant et utile, car en plus de m'améliorer en web, j'offre une "vitrine" de ma personne et de mes capacités. Je profite de cette parenthèse personnel pour vous remerciez vous, cher lecteur, d'être intéressé par mes travaux et mon profil.</span>
            </div>
        </article>
    </div>
</section>