<section class="main">
    <h2>
        Présentation d'une liste non exhaustive de mes projets
    </h2>
    <div>
        <h3><u>Universitaire</u></h3>
        <article class="paragraphe">
            <img src="img/projets/robot-mineur.png">
            <div>
                <h3>Robot Mineur</h3>
                <span>Vous avez ce que je considère comme mon <strong>premier vrai projet universitaire</strong>, c'est un simple jeu avec une interface graphique en JavaFX.</span>
                <br>
                <span>Ici, chacun des robots doivent se déplacer tour par tour dans leurs mines et entrepôts dédiés, distinctibles par le matériau stockée : Or ou Nickel</span>
                <br>
                <span>Divers obstacles seront présents afin de ralentir la progression du joueur. La partie se termine quand toutes les mines sont vidées et leur contenu stockés en entrepôt</span>
                <br>
                <span>Un projet qui m'a néanmoins permis de maîtriser la <strong>programmation orienté objet</strong> et plus précisément le <strong>Java</strong></span>
            </div>
        </article>
        <article class="paragraphe">
            <img src="img/projets/marly_moove.jpg">
            <div>
                <h3>Marly Moove</h3>
                <span>Ce projet nous a suivi plus ou moins toute une année, nous devions réaliser un site depuis zéro pour une association sportive dont le nom figure ci-dessus. La réalisation s'est effectué via la <strong>méthode agile</strong> et s'est distinguée en <strong>deux parties</strong> :</span>
                <br>
                <span>Premièrement, il fallait implémenter <strong>les fonctionnalités, le serveur et la base de données</strong> ; donc prendre en charge l'inscription des utilisateurs, les différents rôles ainsi que leurs droits et accès sur le site, une gestion de la boutique, les évènements relatifs à l'association et, last but not least, les activités sportives et leurs planning.</span>
                <br>
                <span>Dans un deuxième temps, rendre le site <strong>responsive et le plus ergonomique possible</strong>, que ce soit par la coorection de la mise en page ou par l'implémentation du AJAX pour un affichage fluide et dynamique. De plus, le site devait incorporé une <strong>architecture MVC</strong>.</span>
                <br>
                <span>C'est un projet qui m'a appris <strong>les fondements de la programmation web</strong>, que ce soit coté front-end (HTML/CSS et JavaScript) ou back-end (Php et PostgreSQL), mais également <strong>l'utilisation de la méthode agile</strong>, une méthode de travail assez répandu dans le milieu professionnel.</span>
            </div>
        </article>
    </div>
    <div>
        <h3><u>Personnel</u></h3>
        <article class="paragraphe">
            <img src="img/projets/demineur.png">
            <div>
                <h3>Démineur</h3>
                <span>C'est un démineur, tout ce qu'il y a de plus classique, avec une interface graphique également en JavaFX.</span>
                <br>
                <span>Néanmoins, il implémente un <strong>système de sauvegarde de partie</strong> et une possibilité de <strong>mettre le jeu en pause</strong>. Du coté du code, j'ai incorporé des <strong>design patterns</strong>, tels qu'un singleton ou encore un builder, mais aussi une <strong>architecture MVC</strong>.</span>
                <br>
                <span>Ce démineur possède un design (un petit peu) différente que le démineur classique que vous pouvez voir sur la photo à gauche. Sachant que je me suis imposé une contrainte qui est de ne pas utiliser de FXML. En d'autre termes, <strong>j'ai créé tout l'affichage à la main, à l'aide de JavaFX</strong>... oui, j'ai un attrait pour la difficulté !</span>
                <br>
            </div>
        </article>
        <article class="paragraphe">
            <img src="img/projets/forecaster.jpg">
            <div>
                <h3>Forecaster</h3>
                <span>Forecaster est une application web conçue pour aider les utilisateurs à gérer efficacement leurs finances en leur permettant de définir des budgets, suivre leurs dépenses et prévoir leurs besoins financiers futurs. L'application est développée avec <strong>Vue.js</strong>, ce qui lui permet d'offrir une interface utilisateur réactive et dynamique, optimisée pour une expérience fluide. Le backend repose sur <strong>Spring</strong>, assurant une gestion robuste et sécurisée des données, notamment pour le stockage et le traitement des transactions financières.</span>
                <br>
                <span>En plus de ces fonctionnalités principales, Forecaster intègre des options de personnalisation où les utilisateurs peuvent associer des images à leurs différents budgets, améliorant ainsi la visualisation de leurs finances. L'interface est stylisée avec <strong>PicoCSS</strong>, offrant un design minimaliste et moderne, tout en garantissant une cohérence visuelle et une bonne ergonomie.</span>
                <br>
                <span>Ensemble, ces technologies permettent à Forecaster d'être un outil performant et intuitif pour le suivi budgétaire, idéal pour ceux qui souhaitent optimiser la gestion de leurs dépenses de manière proactive et personnalisée.</span>
            </div>
        </article>
    </div>
</section>